.pc-slide {
	width: 70%;
	margin: 0 auto;
	padding: 1.5em 0;
}

.pc-slide-preview {
	background-color: #f2f2f3;
	padding: 1.8em 0;
}

.view .swiper-container {
	width: 100%;
	max-height: 500px;
	overflow: hidden;
}

.view .arrow-left {
	background: url('img/beautyClass/index_tab_l.png') no-repeat left top;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -25px;
	width: 28px;
	height: 51px;
	z-index: 10;
}

.view .arrow-right {
	background: url('img/beautyClass/index_tab_r.png') no-repeat left bottom;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -25px;
	width: 28px;
	height: 51px;
	z-index: 10;
}

.preview {
	padding: 0 10%;
	margin-top: 10px;
}

.preview .previewContent{
	position: relative;
  padding: 0 5%;
	margin: 0 auto;
}

.preview .swiper-container {
	width: 100%;
  margin: 0 auto;
	overflow:hidden;
}

.view .swiper-slide.swiper-slide-active {
	/* width:100% !important; */
	/* display: flex; */
}

.swiper-slide.swiper-slide-active>video {
	display: block;
}

.view .swiper-slide {
	width:100%;
	display: flex;
	justify-content: center;
	/* background: linear-gradient(#fff,#383030); */
}

.swiper-wrapper {
	  display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: -o-box;

}

.preview .swiper-wrapper {
	/* width: 1700px; */
	min-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
	display: flex;
	justify-content: center;
}

.preview .swiper-slide {
	width: 150px;
	height: 100px;
	cursor:pointer;
	overflow: hidden;
	margin:0 0.3em;
	padding: 1px;
	display: block;
	justify-content: center;
	align-items: center;
}

.preview .swiper-slide video {
	/* 撑满父元素 */
	object-fit: inherit;
	width:98.5%;
	height:98%;
	position: relative;
	z-index: 99;
	/* position: absolute;
	top:5px;
	left:5px;
	bottom: 5px;
	right:5px; */
}

.preview .swiper-slide span {
	position: relative;
	top:-2em;
	left:2em;
	color:#fff;
}

.preview .slide6 {
	width: 82px;
}

.preview .arrow-left {
	/* background: url('img/beautyClass/feel3.png') no-repeat left top; */
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -9px;
	width: 9px;
	height: 18px;
	z-index: 10;
	padding: 10px 10px;
}

.preview .arrow-right {
	/* background: url('img/beautyClass/feel4.png') no-repeat left bottom; */
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
	width: 9px;
	height: 18px;
	z-index: 10;
}

.preview .active-nav video {
	padding: 0;
	border: 1px solid #F00;
}

/* 美丽知识 */
.beauty_knowledge {
  background-color: #f2f2f461;
	margin-top: 2em;
}

.beauty_knowledge_title {
  background-color: #b99c56;
  font-size: 1.2rem;
  padding:0.3em 12.5%;
  color:#fff;
	border-bottom: 1em solid #f2f2f3;
}

.beauty_knowledge_list {
  /* margin: 0 10%; */
  display: flex;
  flex-direction: column;
	padding:0 12.5%;
	background-color: #f2f2f3;
}

.beauty_knowledge_item {
  display: flex;
  justify-content: space-between;
  height:150px;
  font-size: 0.9rem;
  padding:0.8em;
  margin: 1em 0;
  background-color: #fff;
	border:1px solid #f2f2f2;
	transition: all .2s;
}

.beauty_knowledge_list>div:hover,
.trend_infomation_list>div:hover {
	box-shadow: 0 0 15px #d6c8c8;
}

.beauty_knowledge_item_left {
	width:20%;
	display: flex;
	margin-right: 0.8em;
	/* align-items: center;
	justify-content: center; */
}

.beauty_knowledge_item_image {
  background-repeat: no-repeat;
  background-size: contain;
	/* background-position: center; */
	width:100%;
	height:100%;
}

.beauty_knowledge_item_content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.beauty_knowledge_item .item_content {
  margin: 0.6em 0;
  color:#bdbebe;
  display: flex;
  justify-content: center;
  align-items: center;
  height:98px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /*autoprefixer: off*/
  -webkit-box-orient: vertical;
  /*autoprefixer: on*/
}

.beauty_knowledge_item_content div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /*autoprefixer: off*/
  -webkit-box-orient: vertical;
  /*autoprefixer: on*/
}

.knowledge_pagenation,
.trend_pagenation {
  padding: 1em 12.5%;
  margin: 0em auto;
  display: flex;
  justify-content: flex-end;
  text-align: center;
	background-color: #f2f2f3;
}

.knowledge_pagenation_number,
.trend_infomation_number {
  display: inline-block;
}

.knowledge_pagenation_continer span,
.trend_pagenation_continer span {
  padding: 0.3em 0.8em;
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 4px;
}

.knowledge_pagenation_continer ul li,
.trend_pagenation_continer ul li{
	padding: 0.3em 0.8em;
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 4px;
	cursor: pointer;
	background-color: #fff;
}

.knowledge_pagenation_number .current_page,
.trend_pagenation_number .current_page {
  background-color: #b99c56;
  color:#fff;
}


/* 潮流资讯 */

.trend_knowledge {
	border-bottom: 1em solid #f2f2f3;
	border-top:2em solid #f2f2f3;
}

.trend_infomation_list {
	display: flex;
  flex-direction: column;
	padding:0 12.5%;
	margin:0 auto;
	background-color: #f2f2f3;
}


.trend_infomation_number {
	display: inline-block;
}

.trend_infomation_number .current_page {
	background-color: #b99c56;
  color:#fff;
}
