<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.ow.services.persistence.dao.MenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.ow.services.persistence.model.Menu">
		<id column="id" property="id" />
		<result column="pid" property="pid" />
		<result column="orgId" property="org_id" />
		<result column="orgTag" property="org_tag" />
		<result column="name" property="name" />
		<result column="page_id" property="pageId" />
		<result column="delete" property="delete" />
		<result column="status" property="status" />
		<result column="seq" property="seq" />
		<result column="note" property="note" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id AS orgId, org_tag AS orgTag, pid, name, page_id AS pageId, delete, status, seq, note
    </sql>

</mapper>
