<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.ow.services.persistence.dao.PageTextMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.ow.services.persistence.model.PageText">
		<id column="id" property="id" />
		<result column="orgId" property="org_id" />
		<result column="orgTag" property="org_tag" />
		<result column="page_id" property="pageId" />
		<result column="content" property="content" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id AS orgId, org_tag AS orgTag, page_id AS pageId, content
    </sql>

</mapper>
