version: "3"
services:
  # docker-compose -f docker-compose.yml up --detach --build  ## for recreating th
  portal-gateway:
    privileged: true
    container_name: portal-gateway
    image: 'daocloud.io/library/node:12'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      #- ./portal-gateway/config.json:/gateway/config.json
      - ./portal-gateway/logs:/gateway/logs
      - ./portal-gateway/dist:/gateway
    #ports:
      #- 8093:8081
    entrypoint:
      - npm
      - start
    working_dir: /gateway
    environment:
      TZ: "Asia/Shanghai"

  portal:
    container_name: portal-index
    image: 'daocloud.io/library/nginx:latest'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./portal:/usr/share/nginx/html
    environment:
      TZ: "Asia/Shanghai"

  muaskin-portal-api:
    container_name: muaskin-portal-api
    image: 'zelejs/allin-web:jdk11'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./portal-api:/webapps
      - ./portal/images:/images
    environment:
      TZ: "Asia/Shanghai"
      #GREENFIELD: 'run'
      URL_SHORT: mall-mysql:3306/malldb
      USERNAME: root
      PASSWORD: root

  portal-management:
    container_name: portal-management
    image: 'daocloud.io/library/nginx:latest'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./portal-management/dist:/usr/share/nginx/html
    environment:
      TZ: "Asia/Shanghai"

  nginx:
    container_name: nginx
    image: 'daocloud.io/library/nginx:latest'
    ports:
      - 80:80
      #- 80:80
      #- 443:443
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/logs:/var/log/nginx
      - ./nginx/cert:/cert
      - ./images:/images
    environment:
      TZ: "Asia/Shanghai"

  mysql:
    container_name: mall-mysql
    image: 'daocloud.io/library/mysql:5.7'
    restart: always
    environment:
      TZ: "Asia/Shanghai"
      MYSQL_DATABASE: 'malldb'
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'root'
    volumes:
      - ./mall-mysql/data:/var/lib/mysql
      - ./mall-mysql/config/my.cnf:/etc/my.cnf
      - ./mall-mysql/sql_mode.cnf:/etc/mysql/mysql.conf.d/sql_mode.cnf
      #- ./mall-mysql/init:/docker-entrypoint-initdb.d/
    ports:
      - '3306:3306'
