# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

target/*
/gen/
build/*
.idea/*
.gradle/*
.svn/*
*.iml
*.swp
*.log
*.db
logs/*
LOG**
.DS_Store
*.text
*.txt
